#nav{
     background-color:#98B17C;
     color:black;
     font-size: 25px;
     padding: 5px;
     }
.navi{
     padding:2px;
     margin-left:5%;
    
     }
h2, h1 { 
     margin-left:30%;
     margin-right:30%;
     background:#98B17C;
     padding:5px;
     }
footer{
     margin-left:40%;
     margin-top: 70%;
     font-size:20px;
     background-color:#ABB2AB;
     }
html{
     background: url("https://image.freepik.com/free-photo/foggy-forest-landscape_1048-11805.jpg");
     background-size: 100% 100%;
     background-repeat: no-repeat;
     }
p {
     background-color:#98B17C;
     padding:5px;
     }
body{
     background: rgba(148, 178, 151, 0.1);
     }
