body{
     background-color: #546b3a !important;
     
     }

h2 { 
     background:#546b3a;
     padding:5px;
     text-align: center;
     color:black;
     }

#nav{
     list-style-type: none;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     font-size: 20px;
     display: flex;
     justify-content: space-evenly;
}    
.nav-link a{
    
     text-decoration: none;
     color:rgb(15, 22, 8);

}

li a:hover{
     background-color: rgb(160, 206, 154);
     transition:0.7s ease;
}
#profile-picture{     
     width:226px;
     height: 325px;    
     position:sticky;
}
.main-content{
     display:flexbox;
     flex-direction: column;
     padding: 0% 10% 0% 10%;
     
}
#about{
     background-color: whitesmoke;
}

footer{
     position: absolute;
     bottom:0;
     left:0;
     width:100%;
     font-size:20px;
     background-color:#f5f4e2; 
}
.project{
     text-decoration: none;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     font-size: 20px;
}
.project a{
     text-decoration: none;
     color:black;
     padding:2px;
     margin:5%;
    
}
.back_to_index{
     text-decoration: none;
     color:black;
     background-color: green;
 }