html{
     background-color: #546b3a;
     background-image: -moz-linear-gradient(top, rgb(216, 172,60) 0vh, #546b3a 20vh);
     background-repeat:no-repeat;
}

body{
     background-color: transparent;
     
     }

h2 { 
     text-decoration: underline;
     padding:5px;
     text-align: center;
     color:black;
     font-size: 24px;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     }

#navi{
     list-style-type: none;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     font-size: 24px;
     display: flex;
     justify-content: space-evenly;
    /* background-color: rgb(216, 172, 60);*/
     height:15vh;
     align-items: center;
}

.nav-link a{
     text-decoration: none;
     color:rgb(15, 22, 8);    
}
.nav-link{
     padding: 30px;
}
.nav-link:hover{
     background-color: rgba(216, 172, 60, 0.664);
     transition:0.6s ease;
     
}
#profile-picture{     
     width:226px;
     height: 325px;    
     position:sticky;
}
.main-content{
     display:flexbox;
     flex-direction: column;
     /*padding: 0% 10% 0% 10%;*/
     /*background-color: rgb(224, 208, 174);*/
     background-image: -moz-linear-gradient(top,#546b3a 0vh, rgb(156, 170, 130) 30vh, #546b3a 100%);
     width:100%;
     height:100%;
    
}
.main-content p{
     height:max-content;
     padding:5%;
     /*background-color: rgb(224, 208, 174);*/
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     font-size: 20px;
     text-align: center;
     background-color: transparent;
    
}    
footer{
     position:fixed;
     bottom:0;
     left:0;
     width:100%;
     font-size:20px;
     background-color:#f5f4e2; 
}
.project_links{
     display:flex;
     flex-direction: column;
     align-items: center;
     padding-top:5%;
}
.project{
     text-decoration: none;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     font-size: 24px;
     width:40%;
     
}
.project a{
     text-decoration: none;
     color:black;
     
}
.about-art p{
    text-align: center;
}
#comments{
     display: flex;
     flex-direction: column;
     justify-content: center;
}
#textPlace, #addText{
     width:20%;
     align-self: center;
}