body{
     background-color: #546b3a;
     height: 100%;
     }

h2 { 
     background:#546b3a;
     padding:5px;
     text-align: center;
     color:black;
     }
#navBar{
     display: flex;
     justify-content: center;
}
#nav{
     list-style-type: none;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     font-size: 20px;
     display: flex;
     justify-content: space-evenly;
     flex: 0 0 100%;
}    
     
li a{
     text-decoration: none;
     color: black;
     padding:2% 0%;
     margin:auto;
}
li:hover{
     background-color: rgb(233, 225, 214);
}
#profile-picture{     
     width:226px;
     height: 325px;    
     position:sticky;
}
.main-content{
     display:flexbox;
     flex-direction: column;
     padding: 0% 10% 0% 10%;
     
}
#about{
     background-color: whitesmoke;
}

footer{
     position: absolute;
     bottom:0;
     left:0;
     width:100%;
     font-size:20px;
     background-color:#f5f4e2; 
}
