body{
     background-color: #546b3a !important;
     
     }

h2 { 
     background:#546b3a;
     padding:5px;
     text-align: center;
     color:black;
   
     }

#navi{
     list-style-type: none;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     font-size: 20px;
     display: flex;
     justify-content: space-evenly;
     background-color: rgb(216, 172, 60);
     height:100px;
     align-items: center;
}

.nav-link a{
     text-decoration: none;
     color:rgb(15, 22, 8);    
}
.nav-link{
     padding: 30px;
}
.nav-link:hover{
     background-color: rgb(205, 206, 154);
     transition:0.6s ease;
     
}
#profile-picture{     
     width:226px;
     height: 325px;    
     position:sticky;
}
.main-content{
     display:flexbox;
     flex-direction: column;
     padding: 0% 10% 0% 10%;
     background-color: rgb(224, 208, 174);
    
}
.main-content p{
     height:max-content;
     padding:5%;
     background-color: rgb(224, 208, 174);
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     text-align: center;
}
footer{
     position:fixed;
     bottom:0;
     left:0;
     width:100%;
     font-size:20px;
     background-color:#f5f4e2; 
}
#project_links{
     display:flex;
     flex-direction: column;
     align-items: center;
     padding-top:5%;
}
.project{
     text-decoration: none;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     font-size: 20px;
     width:40%;
   
}
.project a{
     text-decoration: none;
     color:black;
     
}
.about-art p{
    text-align: center;
}
