html,body{
     background-color: #546b3a;
     }

h1 { 
     margin-left:30%;
     margin-right:30%;
     background:#546b3a;
     padding:5px;
     text-align: center;
     color:black;
     }
footer{
     margin-top: 70%;
     font-size:20px;
     background-color:#ABB2AB; 
}

#prof-pic-container{
     display: flex;
     justify-content: center;
     position:relative;
     margin-right: 15%;
}
#profile-picture{     
     width:226px;
     height: 325px;    
     position:absolute;
     animation: profile_move 3s linear;
}
/*
@keyframes profile_move{
     from{margin-left:0%}
     to{margin-left:50%}
    

}*/